POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=fastapi_db
DATABASE_URL=postgresql+asyncpg://postgres:password@postgres:5432/fastapi_db
TEST_DATABASE_URL=postgresql+asyncpg://postgres:password@postgres:5432/fastapi_test
SECRET_KEY=change-me-in-production
